.search-box {
  width: 100%;
}
.ui.input {
  float: left;
  width: 50%;
  margin-bottom: 15px;
  .index-search-button {
    margin-left: 5px;
  }
}

.home-header {
  width: 100%;
  margin-top: 20px;
  .home-img {
    width: 100%;
    height: 30%;
  }
}