.layout-style {
  background-color: #F3FFFB;
  height: 1500px;
  .header {
    float: left;
    .ui.menu {
      margin-bottom: 0;
      border-radius: 0;
      height: 54px;
      margin-top: 0;
      .item {
        height: 50px;
        font-size: 16px;
        border: 0;
      }
      .user-icon-word {
        float: left;
        margin-left: 8px;
      }
      .title-word {
        margin-left: 3%;
        font-size: 20px;
      }
      i.icon.user.circle {
        margin-top: -4px;
        float: left;
      }
      i.icon.user.circle:before {
        font-size: 24px;
      }
    }
  }
  .main {
    float: left;
    width: 90%;
    margin: 0 5% 0 5%;
    padding-top: 54px; 
  }
}

