.layout-style {
  background-image: url("../img/background.jpg");
  height: 1500px;
  .header {
    .ui.menu {
      margin-bottom: 0;
      border-radius: 0;
      height: 54px;
      margin-top: 0;
      .item {
        height: 50px;
        font-size: 16px;
        border: 0;
      }
      .title-word {
        margin-left: 100px;
        font-size: 20px;
      }
    }
  }
  .main {
    width: 80%;
    padding-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

