.login-container {
  margin-top: 100px;
  .ui.left.input {
    margin-left: 1%;
  }
  .ui.button.dropdown.icon {
    i.dropdown.icon::before {
      margin-left: 10px;
    }
  }
  .ui.radio.checkbox {
    margin-right: 50px;
    font-size: 16px;
  }
  .column {
    max-width: 550px;
    min-width: 400px;
  }
}
