.register-form {
  margin-left: 25%;
  margin-top: 50px;
  label {
    text-align: left;
  }
  .field {
    width: 45%;
  }
  .submit-button {
    .ui.primary.button {
      float: left;
      margin-top: 30px;
    }
  }

}
