.rest-detail {
  margin-top: 30px;
  margin-left: 1%;
  margin-right: 1%;
  .ui.cards {
    .ui.card {
      width: 35%;
      min-width: 430px;
      max-width: 500px;
      .content {
        width: 100%;
        .header {
          height: 40xp;
          margin-bottom:15px;
        }
        .each-food {
          height: 38px;
          margin-top: 5px;
          padding-top: 6px;
          border: 1px solid #00BFFF;
          .food-name {
            margin-left: 5px;
            float: left;
            font-size: 16px;
          }
          .food-price {
            float: right;
            font-size: 16px;
          }
          .cart.plus.icon {
            margin-left: 5px;
            font-size: 17px;
            float: right;
            cursor: pointer;
          }
        }
      }
    }
  }
  .back-button {
    float: right;
    margin-top: 20px;
  }
}
