.register-form {
  margin-left: 30%;
  padding-top: 30px;
  width: 70%;
  .ui.form {
    width: 50%;
    .field {
      width: 90%;
      margin-bottom: 40px;
      label {
        text-align: left;
      }
      .errorBorder {
        border: 1px solid red;
      }
      .errorMessage {
        color: red;
        font-size: 16px;
        float: left;
      }
      .show-pass {
        cursor: pointer;
        position: absolute;
        height: 30px;
        background: #727272;
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        font-weight: 700;
        font-size: .8em;
        margin-top: 10px;
        margin-left: 20px;
      } 
      .hide {
        display: none;
      }
      .ui.radio.checkbox {
        margin-left: 15%;
        font-size: 16px;
        margin-top: 20px;
      }
    }
    .join-check {
      margin-top: 50px;
    }
    .submit-button {
      .ui.primary.button {
        margin-top: 10px;
        float: left;
      }
    }
  }
}
